* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #000;
    display: block;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    display: block;
    border: 1px solid red;
}

.color {
    color: #24baa0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
    font-size: 15px;
    font-weight: bolder;
}

.logo {
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.color-logo2 {
    color: #24baa0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
    font-size: 40px;
    font-weight: 800;
}

.logo2 {
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    font-size: 40px;
    font-weight: lighter;
}

.logo:first-child {
    margin-left: 15px;
}

.half-width {
    width: 50%;
    display: inline-block;
    float: left;
}

.main-container:after,
.half-width:after,
.one-third-width:after,
.part10:after,
.part35:after,
.part45:after {
    clear: both;
    content: "";
    display: block;

}

ol {
    color: #FFF;
    float: right;
    height: 40px;
    line-height: 40px; 
    font-weight: normal;
    list-style-type: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    
}

ol > li {
    color: #FFF;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px; 
    font-weight: normal;
    float: left;
    width: 100px;
    margin-right: 50px;
    font-weight: 800;
    
}

ol > li:last-child {
    margin-right: 0;
}

ol > li > ul > li {
    margin: 0;
}

.background {
    background-image: url(../images/layer.jpg);
    background-size: cover;
    min-height: 500px;

}

.part10 {
    width: 10%;
    min-height: 500px;
    display: inline-block;
    float: left;
}

.part35 {
    width: 35%;
    min-height: 500px;
    display: inline-block;
    float: left;
}

.part45 {
    width: 45%;
    min-height: 500px;
    display: inline-block;
    float: left;
}

img {
    position: relative;
    top: 81.5px;
}

.box-header {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.part45 p {
    font-size: 15px;
    text-align: center;
    width: 380px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #24baa0;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}

.button > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 50px;
    color: #FFF;    
}

.middle {
    position: relative;
    top: 150px;
}